[Unit]
Description=Beacon Tally
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
Restart=on-failure
RestartSec=3
WorkingDirectory=/opt/Beacon-tally/app
Environment=PATH=/usr/local/bin:/usr/bin:/bin
StandardOutput=journal
StandardError=journal
# ExecStart=/usr/local/bin/node /opt/Beacon-tally/app/node_modules/tsx/dist/cli.js /opt/Beacon-tally/app/supervisor.ts
ExecStart=/usr/local/bin/yarn --cwd /opt/Beacon-tally/app/ start

[Install]
WantedBy=multi-user.target
