:root{

  --bg-color: #1c1c1f;
  --bg-color-semilight: #202024;
  --bg-color-light: #28282c;
  --bg-color-superlight: #3d3d41;
  --bg-color-dark: #0d0d0e;

  --ac-color: #cc0033;
  --ac-color-light: rgb(255, 0, 0);
  --ac-color-dark: rgb(150, 0, 0);
  --text-color: white;

  --tally-program: red;
  --tally-preview: rgb(0, 180, 0);
  --tally-alert: rgb(255, 153, 0);
}

/* @import url("fonts.css"); */

body::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  /*background: rgb(150, 150, 150);*/

}


body::-webkit-scrollbar-thumb {
  background: var(--bg-color-light);
  border-radius: 2px;
}
body::-webkit-scrollbar-thumb:active {
  background: var(--bg-color-dark);
}

::selection {
  /*background: var(--warn-color-dark);*/
  /*color: white;*/
}


body
{
  margin: 0;
  padding: 0;
  font-family: 'Ubuntu', 'Segoe UI', sans-serif;
  color: var(--text-color);
  background-color: var(--bg-color);
  overflow-x: hidden;
  text-align: left;
}


a {
  text-decoration: none;
  color: var(--ac-color);
  transition: 0.1s ease background-color, 0.1s ease color;
  cursor: pointer;

}

a:hover, a:active, a:focus, a#active{
  color: var(--text-color) !important;
}

a b, a span, a.red, p b {
  color: var(--ac-color);
}

p.urlBox a {
  color: var(--ac-color);
}

p.urlBox{
  font-size: 90%;
  background-color: var(--bg-color-superlight);
  border-radius: 5px;
  padding: 5px;
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p{
  margin: 2px 0;
}

aside{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  position: absolute;
  top: 0;
  right: 0;

  width: min-content;
  padding: 30px;
  box-sizing: border-box;

  z-index: 1000;
}

aside img{
  position: relative;
  width: 200px;
  margin: 10px;
}